<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title style='position:relative;left:80px; top:2px' >User Registration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <style>
    .btn-primary, .btn-outline-success {
    --bs-btn-color: black;
    --bs-btn-bg: lightyellow;
    --bs-btn-border-color: darkslategray;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: seagreen;
    --bs-btn-hover-border-color: lightgrey;
  }
  </style>
</head>
<body style="background-color: lightslategray;">
  <h1 style="margin-left:750px;margin-top:30px;text-decoration: underline;"> STORE MANAGER REGISTRATION</h1>
  <br>
  <div id="pass"  class="container" style="border:2px solid black;width:45%;background-color:dimgrey" >
      <div class="form-row">
        <form action="/store_manager/registration" method="POST" id="edit-store-form">
        <div class="form-group col-md-7" style="margin-top: 50px;margin-left: 170px;">
          <label for="inputEmail4" style="font-size:20px;">USERNAME</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="username" name="username" required>
        </div>
        <br>
        <div class="form-group col-md-7" style="margin-left: 170px;" >
          <label for="inputPassword4" style="font-size:20px;">PASSWORD</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password" required v-model="passd">
          <br>
          <button v-on:click="subm('store',$event)" type="submit" class="btn btn-primary" style="margin-left:200px;">REGISTER</button>
          <br>
          <br>
          <br>
          <label v-bind:style ="{ backgroundColor : conditions.uppercase }">The password should contain atleast one uppercase alphabet</label>
          <br>
          <label v-bind:style ="{ backgroundColor : conditions.lowercase }">The password should contain atleast one lowercase alphabet</label>
          <br>
          <label v-bind:style ="{ backgroundColor : conditions.specialCharacter }">The password should contain atleast one special character</label>
          <br>
          <label v-bind:style ="{ backgroundColor : conditions.digits }">The password should contain atleast one digit</label>
          <br>
          <label v-bind:style ="{ backgroundColor : conditions.length }">The password should contain atleast 8 characters</label>
          <br>
          <label style="font-size:x-large ;">Password Strength:${ strength }</label>
      <br>
      <br>
      <br>
      </form>
    </div>
    <br>
  </div>
  </div>
</body>
<script type="module" src="{{ url_for('static',filename='password.js') }}"></script>
</html>
</html>